<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.loar.downview">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name="com.loar.downview.DownloadProgressService"/>
    </application>

</manifest>
